body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #111;
  --text-color: #eee;
  --card-bg: #222;
  --card-border: #333;
  --highlight-color: #3498db;
  --unused-color: #e74c3c;
  --used-color: #2ecc71;
  --audio-color: #9b59b6;
  --video-color: #f39c12;
  --image-color: #1abc9c;
}